Checks: >
  readability-*,
  performance-*,
  modernize-*,
  misc-*,
  hicpp-ignored-remove-result,
  google-runtime-int,
  google-readability-casting,
  cppcoreguidelines-*,
  bugprone-*,
  -readability-uppercase-literal-suffix,
  -readability-math-missing-parentheses,
  -readability-magic-numbers,
  -readability-implicit-bool-conversion,
  -readability-identifier-length,
  -readability-function-cognitive-complexity,
  -readability-braces-around-statements,
  -readability-avoid-const-params-in-decls,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  -misc-use-internal-linkage,
  -misc-non-private-member-variables-in-classes,
  -misc-no-recursion,
  -misc-include-cleaner,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-avoid-magic-numbers,
  -bugprone-non-zero-enum-to-bool-conversion,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-exception-escape,
  -bugprone-easily-swappable-parameters,
  -bugprone-assignment-in-if-condition,
